:root {
  --font-family-1: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
}

:root {
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 48px;
  --spacing-xxl: 56px;
  --spacing-xxxl: 64px;
}

:root {
  --padding-xxxs: 4px;
  --padding-xxs: 8px;
  --padding-xs: 16px;
  --padding-sm: 24px;
  --padding-md: 32px;
  --padding-lg: 40px;
  --padding-xl: 48px;
  --padding-squish-xxxs: 2px 4px;
  --padding-squish-xxs: 4px 8px;
  --padding-squish-xs: 8px 16px;
  --padding-squish-sm: 12px 24px;
  --padding-squish-md: 16px 32px;
  --padding-squish-lg: 20px 40px;
  --padding-squish-xl: 24px 48px;
}

:root {
  --color-primary-100: #e7f4fc;
  --color-primary-200: #8bcaf0;
  --color-primary-300: #5cb5ea;
  --color-primary-400: #2ea0e4;
  --color-primary-500: #298cdf;
  --color-primary-600: #1f73b6;
  --color-primary-700: #165a8e;
  --color-primary-800: #0d4066;
  --color-primary-900: #05263d;

  --color-primary-100-contrast: #202020;
  --color-primary-200-contrast: #202020;
  --color-primary-300-contrast: #202020;
  --color-primary-400-contrast: #202020;
  --color-primary-500-contrast: #fff;
  --color-primary-600-contrast: #fff;
  --color-primary-700-contrast: #fff;
  --color-primary-800-contrast: #fff;
  --color-primary-900-contrast: #fff;

  --color-secondary-100: #c3bcbd;
  --color-secondary-200: #a0a0a0;
  --color-secondary-300: #7b7b7b;
  --color-secondary-400: #555;
  --color-secondary-500: #303030;
  --color-secondary-600: #282828;
  --color-secondary-700: #1f1f1f;
  --color-secondary-800: #161616;
  --color-secondary-900: #0e0e0e;

  --color-secondary-100-contrast: #202020;
  --color-secondary-200-contrast: #202020;
  --color-secondary-300-contrast: #fff;
  --color-secondary-400-contrast: #fff;
  --color-secondary-500-contrast: #fff;
  --color-secondary-600-contrast: #fff;
  --color-secondary-700-contrast: #fff;
  --color-secondary-800-contrast: #fff;
  --color-secondary-900-contrast: #fff;

  --color-neutral-100: #fff;
  --color-neutral-200: #fbfbfb;
  --color-neutral-300: #f2f2f2;
  --color-neutral-400: #e8e8e8;
  --color-neutral-500: #b6b6b6;
  --color-neutral-600: #868686;
  --color-neutral-700: #202020;

  --color-neutral-100-contrast: #202020;
  --color-neutral-200-contrast: #202020;
  --color-neutral-300-contrast: #202020;
  --color-neutral-400-contrast: #202020;
  --color-neutral-500-contrast: #fff;
  --color-neutral-600-contrast: #fff;
  --color-neutral-700-contrast: #fff;

  --color-error-100: #fdecec;
  --color-error-200: #f16161;
  --color-error-300: #ea2305;
  --color-error-400: #ab1705;
  --color-error-500: #6b0a04;

  --color-error-100-contrast: #202020;
  --color-error-200-contrast: #202020;
  --color-error-300-contrast: #fff;
  --color-error-400-contrast: #fff;
  --color-error-500-contrast: #fff;

  --color-alert-100: #f6e5b9;
  --color-alert-200: #e9ba45;
  --color-alert-300: #e1a100;
  --color-alert-400: #a47600;
  --color-alert-500: #523b00;

  --color-alert-100-contrast: #202020;
  --color-alert-200-contrast: #202020;
  --color-alert-300-contrast: #fff;
  --color-alert-400-contrast: #fff;
  --color-alert-500-contrast: #fff;

  --color-success-100: #e8f8f0;
  --color-success-200: #4ac889;
  --color-success-300: #12b45d;
  --color-success-400: #0d944d;
  --color-success-500: #034122;

  --color-success-100-contrast: #202020;
  --color-success-200-contrast: #202020;
  --color-success-300-contrast: #fff;
  --color-success-400-contrast: #fff;
  --color-success-500-contrast: #fff;
}

:root {
  --radius-none: 0;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-circle: 50%;
  --radius-pill: 500px;
}

:root {
  --button-height-sm: 32px;
  --button-width-min-sm: 64px;

  --button-height-md: 48px;
  --button-width-min-md: 112px;

  --button-height-lg: 56px;
  --button-width-min-lg: 216px;
}

/* colors */
.style_primary__1QbE4 {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
}

.style_primary__1QbE4:hover {
  background-color: var(--color-primary-400);
  border-color: var(--color-primary-400);
}

.style_primary__1QbE4.style_dashed__1kDZw,
.style_primary__1QbE4.style_outline__29Mmx,
.style_primary__1QbE4.style_clean__2FlNM {
  color: var(--color-primary-400);
}

.style_primary__1QbE4:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-primary-300);
}

.style_secondary__3OZOO {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
  color: var(--color-secondary-500-contrast);
}

.style_secondary__3OZOO:hover {
  background-color: var(--color-secondary-400);
  border-color: var(--color-secondary-400);
}

.style_secondary__3OZOO.style_dashed__1kDZw,
.style_secondary__3OZOO.style_outline__29Mmx,
.style_secondary__3OZOO.style_clean__2FlNM {
  color: var(--color-secondary-400);
}

.style_secondary__3OZOO:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-secondary-300);
}

.style_neutral__3Mbav {
  background-color: var(--color-neutral-500);
  border-color: var(--color-neutral-500);
  color: var(--color-neutral-500-contrast);
}

.style_neutral__3Mbav:hover {
  background-color: var(--color-neutral-400);
  border-color: var(--color-neutral-400);
}

.style_neutral__3Mbav.style_dashed__1kDZw,
.style_neutral__3Mbav.style_outline__29Mmx,
.style_neutral__3Mbav.style_clean__2FlNM {
  color: var(--color-neutral-400);
}

.style_neutral__3Mbav:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-neutral-300);
}

.style_error__1x12v {
  background-color: var(--color-error-300);
  border-color: var(--color-error-300);
  color: var(--color-error-300-contrast);
}

.style_error__1x12v:hover {
  background-color: var(--color-error-200);
  border-color: var(--color-error-200);
}

.style_error__1x12v.style_dashed__1kDZw,
.style_error__1x12v.style_outline__29Mmx,
.style_error__1x12v.style_clean__2FlNM {
  color: var(--color-error-200);
}

.style_error__1x12v:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-error-100);
}

.style_alert__2nk_7 {
  background-color: var(--color-alert-300);
  border-color: var(--color-alert-300);
  color: var(--color-alert-300-contrast);
}

.style_alert__2nk_7:hover {
  background-color: var(--color-alert-200);
  border-color: var(--color-alert-200);
}

.style_alert__2nk_7.style_dashed__1kDZw,
.style_alert__2nk_7.style_outline__29Mmx,
.style_alert__2nk_7.style_clean__2FlNM {
  color: var(--color-alert-200);
}

.style_alert__2nk_7:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-alert-100);
}

.style_success__2T4dF {
  background-color: var(--color-success-300);
  border-color: var(--color-success-300);
  color: var(--color-success-300-contrast);
}

.style_success__2T4dF:hover {
  background-color: var(--color-success-200);
  border-color: var(--color-success-200);
}

.style_success__2T4dF.style_dashed__1kDZw,
.style_success__2T4dF.style_outline__29Mmx,
.style_success__2T4dF.style_clean__2FlNM {
  color: var(--color-success-200);
}

.style_success__2T4dF:focus {
  box-shadow: var(--button-focus-box-shadow) var(--color-success-100);
}

/* default props */
.style_button__3t9HU {
  border: none;
  white-space: nowrap;
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  max-width: 100%;
  border-radius: var(--radius-xs);
  margin-left: var(--spacing-xxs);
}

.style_button__3t9HU:first-child {
  margin-left: unset;
}

.style_button__3t9HU:focus {
  outline: none;
}

.style_button__3t9HU:hover {
  text-decoration: none;
}

.style_disabled__tz8TP {
  cursor: not-allowed;
  opacity: 0.8;
}

/* variants */

/* .flat {}
.gradient {} */

.style_dashed__1kDZw {
  border-style: dashed;
  border-width: 1px;
}

.style_outline__29Mmx {
  border: solid 1px;
}

.style_dashed__1kDZw,
.style_dashed__1kDZw:hover,
.style_outline__29Mmx,
.style_outline__29Mmx:hover,
.style_clean__2FlNM,
.style_clean__2FlNM:hover {
  background-color: transparent;
}

/* sizes */
.style_sm__1yCAg {
  padding: var(--padding-squish-xs);
  font-size: var(--font-size-sm);
  height: 32px;
  height: var(--button-height-sm);
  min-width: 64px;
  min-width: var(--button-width-min-sm);
}

.style_sm__1yCAg svg {
  margin-right: 7px;
}

.style_md__2nlFg {
  padding: var(--padding-squish-sm);
  font-size: var(--button-font-size-md);
  height: 48px;
  height: var(--button-height-md);
  min-width: 112px;
  min-width: var(--button-width-min-md);
}

.style_lg__Sc0n5 {
  padding: var(--padding-squish-md);
  font-size: var(--font-size-md);
  height: 56px;
  height: var(--button-height-lg);
  min-width: 216px;
  min-width: var(--button-width-min-lg);
}

/* icon */
.style_icon__1_5Jh {
  min-width: unset;
  height: unset;
  padding: var(--padding-squish-xxxs);
}

.style_icon__1_5Jh svg {
  margin: unset;
}

.style_icon__1_5Jh,
.style_icon__1_5Jh:hover {
  background-color: transparent;
}

.style_icon__1_5Jh.style_dashed__1kDZw,
.style_icon__1_5Jh.style_outline__29Mmx,
.style_icon__1_5Jh.style_clean__2FlNM {
  color: transparent;
}


/*# sourceMappingURL=main.css.map*/